<div class="vehiculo">
  <h3 class="">Placa</h3>
  <input class="form-control" [(ngModel)]="searchText" placeholder="Placa">

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Color</th>
          <th>Marca</th>
          <th>Estilo</th>
          <th>Año</th>
          <th>Observaciones</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let vehiculo of getVehiculos() | filter : searchText">
          <td>{{vehiculo.NumPlaca}}</td>
          <td>{{vehiculo.Color}}</td>
          <td>{{vehiculo.Marca}}</td>
          <td>{{vehiculo.Estilo}}</td>
          <td>{{vehiculo.Anio | date : "fullDate" }}</td>
          <td>{{vehiculo.Observaciones}}</td>

          <td>
            <button type="submit" class="btn btn-primary" (click)="editarVehiculo(vehiculo)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>